name: Check and Validate PR branch

on:
  workflow_call:
    inputs:
      head-ref:
        description: "Head branch of the PR"
        required: true
        type: string
      base-ref:
        description: "Base branch of the PR"
        required: true
        type: string

# valid patterns: main, develop, feature/*, hotfix/*, dependabot/*
# feature/* can be merged into develop
# dependabot/* can be merged into develop
# hotfix/* can be merged into main
# main can be merged into develop
# develop can be merged into main
# develop can be merged into acceptance

jobs:
  check-pr:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check if merge is allowed
        run: |
          if [[ ${{ inputs.head-ref }} != 'main' && ${{ inputs.head-ref }} != 'develop' && ${{ inputs.head-ref }} != 'feature/'* && ${{ inputs.head-ref }} != 'hotfix/'* && ${{ inputs.head-ref }} != 'dependabot/'* ]]; then
              echo "Branch name ${{ inputs.head-ref }} not allowed."
              exit 1
            fi

          if [[ ${{ inputs.base-ref }} == 'main' ]]; then
              if [[ ${{ inputs.head-ref }} == 'hotfix/'* || ${{ inputs.head-ref }} == 'develop' ]]; then
                  echo "Merge ${{ inputs.head-ref }} into main allowed."
                  exit 0
              else
                  echo "Merge ${{ inputs.head-ref }} into main not allowed."
                  exit 1
              fi
          elif [[ ${{ inputs.base-ref }} == 'develop' ]]; then
              if [[ ${{ inputs.head-ref }} == 'feature/'* || ${{ inputs.head-ref }} == 'dependabot/'* || ${{ inputs.base-ref }} == 'main' ]]; then
                  echo "Merge ${{ inputs.head-ref }} into develop allowed."
                  exit 0
              else
                  echo "Merge ${{ inputs.head-ref }} into develop not allowed."
                  exit 1
              fi
          elif [[ ${{ inputs.base-ref }} == 'acceptance' ]]; then
              if [[ ${{ inputs.head-ref }} == 'develop' ]]; then
                  echo "Merge ${{ inputs.head-ref }} into acceptance allowed."
                  exit 0
              else
                  echo "Merge ${{ inputs.head-ref }} into acceptance not allowed."
                  exit 1
              fi
          else
              echo "Merge ${{ inputs.head-ref }} into ${{ inputs.base-ref }} not allowed."
              exit 1
          fi
