name: "Storybook CD"

on:
  workflow_call:
    inputs:
      node-version:
        description: "Node.js version"
        required: false
        type: string
        default: "22.x"
      use-custom-token:
        description: 'Whether to use a custom token for authentication'
        required: false
        default: false
        type: boolean
      working-directory:
        description: "Working directory for Storybook build script and artifact (for monorepos or subdirectories)"
        required: false
        default: "."
        type: string


permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js and PNPM (with custom token)
        if: inputs.use-custom-token
        uses: Pursuit-Amsterdam/workflows/.github/actions/setup-node-pnpm@main
        with:
          node-version: ${{ inputs.node-version }}
          node-auth-token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}

      - name: Setup Node.js and PNPM (with GitHub token)
        if: ${{ !inputs.use-custom-token }}
        uses: Pursuit-Amsterdam/workflows/.github/actions/setup-node-pnpm@main
        with:
          node-version: ${{ inputs.node-version }}
          node-auth-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Storybook
        run: pnpm run build-storybook
        working-directory: ${{ inputs.working-directory }}

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ inputs.working-directory == '.' && 'storybook-static' || format('{0}/storybook-static', inputs.working-directory) }}
          
      - id: deploy
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          token: ${{ github.token }}
